<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@^2.2.7/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="module" src="../js/utility.js" defer ></script>
    <script type="module" src="../js/login.js" defer ></script>
    <title>Login</title>
  </head>
  <style>
    /* @font-face {
        font-family: Nueue;
        src: url("../assets/Helvetica-Neue-Font/Helvetica\ Neue\ Medium\ Extended/") !important;
    } */
    /* @import url('https://fonts.cdnfonts.com/css/helvetica-neue-9'); */

    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    body {
        height: 100vh;
        font-family: 'Neue';
    }
     @font-face {
    font-family: Neue;
    src: url(../assets/fonts/pro-55-roman-189171-neue-helvetica-369213/HelveticaNeueLTPro-Roman.otf);
    }
  </style>
  <body>
    <main class="flex flex-row h-full">
        <section style="background-color: #FAF2FF;" class=" hidden rounded-tr-3xl rounded-br-3xl md:flex md:h-full md:w-[40%]">
            <div class="relative block md:h-full md:w-full">
                <div class="h-[10%] ml-[15%] mt-8 p-6">
                    <img src="../assets/kredete-yellow.svg" alt="company logo" class="mt-4">
                    <h1 class=" font-bold text-4xl mt-[40px]">Welcome Back!</h1>
                </div>
                
                <img src="../assets/illustration.svg" alt="login image" style="background-color: #FAF2FF;" class=" absolute bottom-0 hidden mt-4 h-[70%] md:flex md:w-full rounded-tr-3xl rounded-br-3xl object-fit">
            </div>
        </section>
        <!-- <section style="background-color: #67089E;background-image: url(../assets/illustration.svg); background-size:contain; background-repeat: no-repeat; background-position: center; background-clip: padding-box; background-origin: padding-box;" class=" hidden rounded-tr-3xl rounded-br-3xl md:flex md:h-full md:w-[50%]">
            <img src="../assets/login-illustration.svg" alt="login image" style="background-color: #67089E;" class=" hidden rounded-tr-3xl rounded-br-3xl md:flex md:h-full md:w-[50%]">
        </section> -->
        <section class="flex flex-row justify-center w-full md:w-[60%]">
            <div class="flex justify-start items-center md:justify-center md:items-start w-full p-10">
                <div class="w-full">                    
                    <img src="../assets/kredete-nav-logo.svg" alt="kredete logo" class="block md:hidden mt-4">
                    <p class="text-right mt-8 text-sm md:text-lg">Don’t have an account? <span class="font-bold hidden md:inline" style="color:  #67089E;">Create Account</span><span class="font-bold md:hidden inline" style="color:  #67089E;">Login</span></p>
                    <!-- <div class="mx-auto w-[50%]"> -->
                        <h1 class="font-bold hidden md:block text-md md:text-4xl mt-8 md:mt-[8]">Jump right back in</h1>
                        <p class="text-xs hidden md:block md:text-sm mt-0 md:mt-2">Pick up where you left off.</p>

                        <h1 class="font-bold md:hidden block text-md md:text-4xl mt-8 md:mt-[8]">Set your Password</h1>
                        <p class="text-xs md:hidden block md:text-sm mt-0 md:mt-2">Enter a new password and your password will change.</p>
                    <!-- </div> -->
    
                    <form action="" method = "post" class="mt-8" id="form">
                        <div class="mb-4">
                            <label for="email" class="text-xl">
                                Business Email
                            </label>
                            <input type="email" name="email" maxlength="30" id="email" placeholder="E.g janedoe@example.com" class="block text-sm w-full rounded-md bg-[#F6F6F6] h-8 border-black focus:outline-[#67089E] indent-3 md:h-12">
                            <p class="text-red-400 text-sm hidden" id = "emailError">Account does not exist</p>
                        </div>

                        <div>
                            <label for="password" class="mt-4 text-xl">
                                Password
                            </label>
                            <div class="flex rounded-md pr-2 bg-[#F6F6F6] h-8 indent-3 md:h-12" id="password-parent">
                                <input type="password" name="password" maxlength="30" id="password" placeholder="Enter Password" class="block text-sm w-full bg-transparent focus:outline-none md:h-12 indent-3">
                                <img src="../assets/XCircle.svg" alt="clear field logo" class="hidden w-5" id="clear">
                                <img src="../assets/EyeSlash.svg" alt="toggle" class="w-5" id = "close">
                                <img src="../assets/openEye.svg" alt="toggle" class="hidden w-5" id="open">
                            </div>
                            <p 
                            class="text-[#777676] text-sm text-justify hidden" 
                            id = "passwordError">
                                Password should be made up of alphabets and  numbers of 8 characters (Acceptable character are A-Z a-z 1-9 ! @ # $ *)
                            </p>
                        </div>

                        <p style="color:  #67089E;" class="mt-2">Forgot Password?</p>

                        <button 
                        type = "submit" 
                        class="text-white text-center px-2 w-full rounded-md h-8 md:h-10 mt-4" 
                        style="background-color: #CCADDF;" id="submit" 
                        disabled
                        >
                            Log In
                        </button>
                    </form>
                </div>
                
            </div>
        </section>
    </main>
    <!-- modal -->
    <div class=" hidden absolute right-6 md:right-2 top-[20px] w-[70%] md:w-1/4 gap-2 bg-[#FFE7E7]  flex-row rounded-md p-2">
        <div class="w-[7%] min-w-[20px]">
            <img src="../assets/WarningCircle.svg" alt="notification" role="alert" class="w-5 mt-1">
        </div>
        <div class="flex flex-col w-[90%]" >
          <h4 class="font-medium text-lg">Invalid Credentials</h4>
          <p class="text-sm font-normal">Kindly confirm details entered or tap forget password incase you can't remember your login details</p>
        </div>
    </div>
  </body>
</html>
