<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Promotions</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-[#FAF2FF]">
    <style>
      /* @font-face {
        font-family: Nueue, Helvetica;
        src: url("../assets/Helvetica-Neue-Font/Helvetica Neue LTW0697BlkCnObl/Helvetica Neue LTW0697BlkCnObl.otf");
      } */

      @import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');
/* #page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 21rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20rem;
} */
    </style>
        <main class="w-full">
            <section id="page-container" class="w-[90%] md:w-[80%] mx-auto bg-white">
                <main class="p-6" id  = "content-wrap">
                  <nav class="p-2 flex flex-row justify-between">
                    <img src="../assets/kredete-nav-logo.svg" alt="company logo" class="w-[20%] md:w-20" />
            
                    <p class="text-slate-400 text-[12px] md:text-sm">December 7, 2022 8:33AM</p>
                  </nav>
                  <hr />
                  <article>
                    <h1 class="font-medium text-4xl mt-8">Hello Babatunde,</h1>
                    <p class="text-sm mt-3 text-justify">
                        We have some pretty exciting goodies for you.
                    </p>
                    <img src="../assets/promotions-banner.svg" alt="promotions banner image" class="w-[100%] h-18 mt-2">
        
                    <p class="mt-3">
                        Maxwell's equations—the foundation of classical electromagnetism—describe light as a wave that moves with a characteristic velocity. 
                        The modern view is that light needs no medium of transmission, but Maxwell and his contemporaries were convinced that light waves were propagated in a medium, 
                        analogous to sound propagating in air, and ripples propagating on the surface of a pond. This hypothetical medium was called the luminiferous aether, at rest relative to the "fixed stars" and through which the Earth moves. Fresnel's partial ether dragging hypothesis ruled out the measurement of first-order (v/c) effects, 
                        and although observations of second-order effects (v2/c2) were possible in principle, Maxwell thought they were too small to be detected with then-current technology.
                    </p>
        
                    <button type="submit" class="w-full text-white text-center text-sm p-2 focus:outline-none rounded-md mt-4" style="background-color: #67089E;">Explore Personal Loans</button>
                    <p class="mt-2 text-sm">
                          With Love &#128153;,
                    </p>
                    <p class="mt-2 text-sm">
                          Ada from Kredete
                    </p>
        
                    <div class="flex mt-4 flex-row  w-[100%]">
        
                        <div class="flex flex-row justify-between items-center p-2 rounded-md w-[10rem] mr-8 md:mr-2" style="background-color: #67089E;">
                            <div>
                                <img src="../assets/ios.svg" alt="ios logo" class="w-[80%]">
                            </div>
                            <div class="flex flex-col g-3 text-white">
                                <p class="text-[12px] md:text-sm md:font-medium">Download from</p>
                                <p class="font-medium text-[12px] md:font-bold md:text-xl">iOs Store</p>
                            </div>
                        </div>
        
                        <div class="flex flex-row justify-between items-center p-2 rounded-md w-[10rem] m" style="background-color: #67089E;">
                            <div>
                                <img src="../assets/playstore.svg" alt="ios logo" class="w-[100%]">
                            </div>
                            <div class="flex flex-col g-2 text-white">
                                <p class="text-[12px] md:text-sm md:font-medium">Download from</p>
                                <p class="font-medium text-[12px] md:font-bold md:text-xl">iOs Store</p>
                            </div>
                        </div>
        
                    </div>
        
                  </article>
                </main>
        
                <footer class="p-6 mb-6">
                    <p>Kredete Inc.,1314, 447 Broadway, 2nd Floor, NY, New York 10013</p>
                    <hr class="mt-4">
                    <div class="flex flex-row g-16 justify-start mt-4 w-full">
                        <img src="../assets//filled-facebook.svg" alt="filled facebook"  class="ml-2">
                        <img src="../assets//filled-twitter.svg" alt="filled twitter " class="ml-2">
                        <img src="../assets//filled-instagram.svg" alt="filled instagram" class="ml-2">
                    </div>
                    <p class="text-slate-400">Copyright © Kredete, 2022. All Rights reserved.</p>
                    <p class="text-sm">You are receiving this message because you signed up on Kredete. 
                        If you would like to stop receiving promotional offers, you can opt out by clicking <span class="text-blue-400">Unsubscribe</span> or <span class="text-blue-400">update your email preferences.</span>
                    </p>
                </footer>
                <!-- <footer class="p-6 w-[100%]" style="background-color: #67089E;" id="footer">
                  <div class="flex flex-col items-center g-8 content-between justify-center md:flex-row md:justify-between md:items-center">
                    <img src="../assets/kredete-footer-logo.svg" alt="footer logo" class="w-[20rem] h-[20px] md:w-20 " />
                    <div class="flex justify-between items-center w-[10rem] mt-6 md:mt-0">
                      <img src="../assets/facebook.svg" alt="facebook" class="w-4" />
                      <img src="../assets/twitter.svg" alt="twitter" class="w-4"/>
                      <img src="../assets/instagram.svg" alt="instagram" class="w-4"/>
                    </div>
                  </div>
                  <hr class="mt-8 bg-slate-400" />
            
                  <div class="flex mt-4 flex-col items-center g-8 text-center justify-center md:text-left md:flex-row md:justify-between md:items-center">
                    <div class="flex flex-col justify-between  text-white text-sm">
                        <p>1314, 447 Broadway, 2nd Floor NY,</p>
                        <p>New York 10013</p>
                    </div>
            
                    <div class="flex flex-col justify-between g-4 text-white text-sm">
                        <p>Contact Support</p>
                        <p>Legal</p>
                        <p>FAQs</p>
                    </div>
                  </div>
                  <hr class="mt-4 text-slate-100" />
                  <p class="text-white mt-2 md:text-left text-center">Copyright © Kredete, 2022. All Rights reserved.</p>
                </footer> -->
            </section>
        </main>
  </body>
</html>
