<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet">
    <link rel="stylesheet" href="../styles/login.css">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Reset Password</title>
</head>
<body>
    <section class="flex flex-col justify-center items-center h-[100vh]">
        <div class="">
            <p class="font-sans font-bold text-center text-2xl">Password Reset Successful</p>
            <img src="../assets/approve.svg" alt="kredete logo" class="mx-auto mt-5">
            <div class="flex justify-center items-center text-white mt-4">
                <button class="bg-violet-700 py-2 px-4 rounded-md " type="submit"><a href="./login.html">Proceed</a></button>
            </div>
        </div>
    </section>
</body>
</html>