<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet">
    <link rel="stylesheet" href="../styles/login.css">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Verification Link Sent</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <style>

        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
        @font-face {
        font-family: Neue;
        src: url(../assets/fonts/pro-55-roman-189171-neue-helvetica-369213/HelveticaNeueLTPro-Roman.otf);
        }
        body {
            font-family: 'Neue';
        }
  </style>
    <main class="flex flex-row h-screen">
        <section style="background-color: #FAF2FF;" class=" hidden rounded-tr-3xl rounded-br-3xl md:flex md:h-full md:w-[50%]">
            <div class=" hidden relative md:block md:h-full md:w-full mb-14 ">
                <div class=" ml-[5%] mt-8 p-6">
                    <img src="../assets/kredete-yellow.svg" alt="company logo" class="mt-4">
                    <h1 class="font-bold text-4xl mt-2">Become a <span class="text-[#67089E]">Partner</span> and see your turnover skyrocket.</h1>
                </div>
                <div class="mt-0 ml-[5%] p-6 mb-10">
                    <div class="flex flex-col justify-evenly">
                        <div class="flex items-center mb-[8px] lg:mb-[24px]">
                            <img src="../assets/Megaphone.svg" alt="megaphone image" class="mr-1.5 flex self-start">
                            <div class="">
                                <h4 class="font-medium   text-lg">Market to a wider range of people</h4>
                                <p class="text-sm text-justify">Leverage on Kredete’s customer to reach a wide range of people to increase revenue for your business, a win-win situation for everyone involved.</p>
                            </div>
                        </div>
    
                        <div class="flex items-center">
                            <img src="../assets/ChartPieSlice.svg" alt="pie" class="mr-1.5 flex self-start">
                            <div class="">
                                <h4 class="font-medium  text-lg">Market to a wider range of people</h4>
                                <p class="text-sm text-justify">Create a loan campaign based on your own terms and condition. Watch how your campaign is doing from all your customer in one place.</p>
                            </div>
                        </div>
                        <div class="flex items-center pt-3">
                            <img src="../assets/Cardholder.svg" alt="pie" class="mr-1.5 flex self-start">
                            <div class="">
                                <h4 class="font-medium text-lg">Payment collection has never been this easy</h4>
                                <p class="text-sm text-justify">You don’t need to chase your lendee before you collect payment. You can collect it all right on our platform. Timely and easy.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="w-full mt-4 absolute bottom-0" style="background-image: url(../assets/rock.svg);  background-size: auto; background-repeat: no-repeat; width: 100%;"></div>                 -->
                <img src="../assets/rock.svg" alt="verification image" style="background-color: #67089E;" class="absolute bottom-0 w-full md:h-[6rem]   mt-4  md:flex md:w-full object-cover rounded-br-3xl">
            </div>
        </section>
        <section class="flex flex-row justify-center w-full md:w-[50%]">
            <div class=" w-full p-10">
                <div class="w-full">                    
                    <img src="../assets/kredete-nav-logo.svg" alt="kredete logo" class="block md:hidden mt-4">
                    <h1 class="font-bold text-2xl md:text-4xl mt-8 md:mt-4 lg:mt-16">Email Verification Link Sent!</h1>
                    <p class="text-sm md:text-md mt-0 md:mt-2">Please check your email <span class="font-bold">aoyebanjo@choplife.com</span> for the verification link sent. Click on the link to verify your account.</p>

                    <p class="mt-8 text-md text-[#67089E] font-bold">Wrong Email?</p>
                    <p class="mt-8 text-sm md:text-md">Didn’t get email? <span class="text-[#67089E] font-bold">Resend Reset Password Link</span></p>
                </div>
                
            </div>
        </section>
        <!-- modal -->
        <div class=" hidden absolute right-6 md:right-2 top-[20px] w-[70%] md:w-1/4 gap-2 bg-[#EDFFF5]  flex-row rounded-md p-2" id="modal">
            <div class="w-[7%] min-w-[20px]">
                <img src="../assets/CheckCircle.svg" alt="notification" role="alert" class="w-5 mt-1">
            </div>
            <div class="flex flex-col w-[90%]" >
            <h4 class="font-medium text-lg" id="header">Reset Password Link Sent Successfully</h4>
            <p class="text-sm font-normal" id = "message">Check your email for the reset password link</p>
            </div>
        </div>
    </main>
</body>
</html>